// ==========================================================================
// Global Config
// ==========================================================================

// Descriptive Base Colors

$white : #fff;
$black : #0b0b0b;
$grey  : #797e83;


$deep-steel-blue        : #323544;
$darkest-sea            : #212330;
$dev-blue               : #67809f;
$it-blue                : #4082d6;
$market-green           : #2ecc71;
$telecom-red            : #d64541;
$webdev-lavander        : #926fb1;
$security-magenta       : #f62459;
$training-brown         : #ce4125;


$colour-primary     : $deep-steel-blue;
$colour-secondary   : $darkest-sea;
$color-shadow       : rgba($black, .2);

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Grid

$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 5;
$g-cont-max-w   : 1050px;

// Breakpoints

$brkpoint-xs    : 1px;
$brkpoint-sm    : 768px;
$brkpoint-md    : 992px;
$brkpoint-lg    : 1100px;