// ==========================================================================
// Mixins
// ==========================================================================


// BEM selectors

@mixin e($element) {
	&__#{$element} {
		@content;
	}
}
@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

// Media queries

@mixin mq($break) {
	@if $break == "micro" {
		@media (min-width: $brkpoint-xs) and (max-width: ($brkpoint-sm - 1)) {
		@content;
		}
	}
	@else if $break == "small" {
		@media (min-width: $brkpoint-sm){
		@content;
		}
	}
	@else if $break == "small-only" {
		@media (min-width: $brkpoint-sm) and (max-width: ($brkpoint-md - 1)){
		@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md) {
		@content;
		}
	}
	@else if $break == "medium-only" {
		@media (min-width: $brkpoint-md) and (max-width: ($brkpoint-lg - 1)){
		@content;
		}
	}
	@else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
		@content;
		}
	}
	@else {
		@error "Whoops! No value could be retrieved for `#{$break}`. "
	}
}

     
// Generate modifier color classes

@mixin bg-colours($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
			background-color: $colour;    
		}
	}
}

@mixin bg-colours-darken($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
     		 background-color: darken($colour, 20%);   
		}
	}
}
@mixin bg-colour-hover($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
			&:hover{
				background-color: $colour;
			}
		}
	}
}

@mixin bg-colour-hover-darken($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
			background-color: $colour;
			// transition: background-color $trns-duration ease;
			&:hover{
				background-color: darken($colour, 20%);  
			}
		}
	}
}

@mixin bg-white-to-colour($map){
  @each $theme, $colour in $map {
		&--#{$theme} {
			background-color: $white;
			// transition: background-color $trns-duration ease;
			&:hover{
				background-color: $colour;
			}
		}
	}
}

@mixin text-colours-by-theme($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
			color: $colour;    
		}
	}
}

@mixin text-white-to-colour($map){
  @each $theme, $colour in $map {
		&--#{$theme} {
			color: $white;
			// transition: color $trns-duration ease;
			&:hover{
				color: $colour;
			}
		}
	}
}

@mixin icon-colours-by-theme($map) {
	@each $theme, $colour in $map {
		&-#{$theme} {
			color: $colour;    
		}
	}
}

@mixin border-colour-darken($map, $sz: 2px, $stl: solid) {
	@each $theme, $colour in $map {
		&--#{$theme} {
      		border-top: darken($colour, 20%) $sz $stl;  
		}
	}
}

@mixin border-colours-hover($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
			&:hover {
				.nav-header::after {
					border-top-color: $colour;
				}
			}
		}
	}
}

// Generating :before or :after pseudo-element shapes

@mixin p-el(
	$el,
	$el-w: null,
	$el-h: null) {
	@if $el == "before" or $el == "after" { 
		&:#{$el} {
			@extend %pseudos;
			width: $el-w;
			height: $el-h;
			@content;
		}
	} 
	@else {
    	@error "`#{$el}` is not a valid pseudo-element.";
	}
}
      
// Adjacent sibling margins

@mixin doubly($margin: 1em) {
	& + & {
	  	margin-left: $margin;
    	@content;
	}
}

// Grid Columns
     
@mixin g-columns($columns: $g-col-count) {
  	@for $i from 1 through $columns {
		$context: g-context($g-col-width, $columns ,$g-gutter-width) !global;  
		$target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
		$calculate-width: percentage($target / $context);
		&--#{$i} {
			flex-basis: $calculate-width;
			max-width: $calculate-width;
			margin: 0 $g-gutter-width; 
		}
  	}
}

@mixin dropdown-layout($width: 50%){
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	transition: visibility $trns-duration ease;
}

@mixin dropdown-layout-undo(){
	display: block;
	width: auto;
	height: 114px;
	transform: none;
	transition: none;
}