// ==========================================================================
// Mixins
// ==========================================================================


// Media queries

@mixin mq($break) {
  @if $break == "micro" {
    @media (min-width: $brkpoint-xs) and (max-width: ($brkpoint-sm - 1)) {
      @content;
    }
  }
  @else if $break == "small" {
    @media (min-width: $brkpoint-sm ){
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint-md ) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
      @content;
    }
  }
   @else {
   	@error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}

     
@mixin g-columns {
  @for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count ,$g-gutter-width) !global;  
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
    
    // Generate column modifier classes
    &--#{$i} {
      width: percentage($target / $context);
    }
  }
}