// ==========================================================================
// Mixins
// ==========================================================================


// BEM selectors

@mixin e($element) {
	&__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media queries

@mixin mq($break) {
  @if $break == "micro" {
    @media (min-width: $brkpoint-xs) and (max-width: ($brkpoint-sm - 1)) {
      @content;
    }
  }
  @else if $break == "small" {
    @media (min-width: $brkpoint-sm ){
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint-md ) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
      @content;
    }
  }
   @else {
   	@error "Whoops! No value could be retrieved for `#{$break}`. "
  }
}

     
// Generate modifier color classes

@mixin bg-colors($map) {
	@each $theme, $colour in $map {
		&--#{$theme} {
			background-color: $colour;    
		}
	}
}


// Generate icon image classes

@mixin icons($map, $w, $h, $disp: block) {
	@each $icon, $img in $map {
		&-#{$icon} {
			background-image: url('#{$path-img-icon--rel}/#{$img}');
      background-size: contain;
    	background-repeat: no-repeat;
	    width: $w;
	    height: $h;
	    display: $disp;
		}
	}
}

// Generate coloured icons

@mixin icons-coloured($map, $w, $h, $disp: block) {
  @each $name, $props in $map {
    &-#{$name} {
      background-image: none;
      -webkit-mask-image: url('#{$path-img-icon--rel}/#{map-get($props, location)}');
      mask-image: url('#{$path-img-icon--rel}/#{map-get($props, location)}');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      background-color: map-get($props, colour);
      width: $w;
	    height: $h;
	    display: $disp;
    }
  }
}


// Gnerate Icon theme colours

@mixin icon-themes($map){
  @each $icon, $colour in $map{
    &-#{$icon}{
      color: $colour;
      fill: $colour;
    }
  }
}


// Generating :before or :after pseudo-element shapes

@mixin p-el(
	$el,
	$el-w: null,
	$el-h: null) {
	@if $el == "before" or $el == "after" { 
	  &:#{$el} {
		  @extend %pseudos;
		  width: $el-w;
	  	height: $el-h;
	    @content;
	  }
	} 
	@else {
    @error "`#{$el}` is not a valid pseudo-element.";
	}
}

// Image replacement

@mixin img-logo-replace($img, $w, $h, $disp: block) {
	background-image: url('#{$path-img-logo--rel}/#{$img}');
  background-size: contain;
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $disp;
}

      
// Adjacent sibling margins

@mixin doubly($margin: 1em) {
	& + & {
	  margin-left: $margin;
    @content;
	}
}

// Grid Columns
     
@mixin g-columns($columns: $g-col-count) {
  @for $i from 1 through $columns {
    $context: g-context($g-col-width, $g-col-count ,$g-gutter-width) !global;  
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
    
    // Generate column modifier classes
    &--#{$i} {
      width: percentage($target / $context);
    }
  }
}
