
// ==========================================================================
// Containers
// ==========================================================================

// Image overlay 
.item {
  position: relative;
  width: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    gap: $g-gutter-width;
}


//primary container
.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    @include mq(small){
        width: 750px;
    }

     @include mq(medium){
        width: 970px;
    }

     @include mq(large){
        width: 1200px;
    }

}

.container-footer-bottom{
    margin-left: 0;
    margin-right: 0;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }

.section{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

// Image container
.img-container {
    width: 100%;
    height: 100%;
}

// Icon container
[class^="icon-container"]{
    @include bg-colours($ui-colors);
    margin: 0 auto 17px;
    padding: 10px;
    border-radius: $br--round;
    color: $white;
}

//Button container
.btn-container{
    margin-top: auto;
    &-duo{
        &:first-child{
            margin-right: 10px;
        }
    }
}