// ==========================================================================
// Floaters
// ==========================================================================

.float-left{
    &-xs {
        @include mq(micro){
            float: left;
        }
    }
    &-sm {
        @include mq(small){
            float: left;
        }
    }
}

.float-right{
    &-xs {
        @include mq(micro){
            float: right;
        }
    }

    &-sm {    
        @include mq(small){
            float: right;
        }
    }   
}

.margin-right{
    &-xs {
        @include mq(micro){
            margin-right: auto;
        }
    }
    &-sm {
        @include mq(small){
            margin-right: auto;
        }
    }
    
}

.margin-left{
     &-xs {
        @include mq(micro){
            margin-left: auto;
        }
    }
    &-sm {
        @include mq(small){
            margin-left: auto;
        }
    }
    
}