// ==========================================================================
// full Container
// ==========================================================================

#container{
    display: grid;
    transition: grid-template-columns 0.3s ease, transform 0.3s ease-in-out;
    overflow-x: clip;
    width: 100%;
}