// ==========================================================================
// full Container
// ==========================================================================

#container{
    display: grid;
    transition: grid-template-columns 0.3s ease;
    overflow-x: clip;
    width: 100vw;
}