// ==========================================================================
// Hidden Sections
// ==========================================================================

.hidden-all{
    display: none !important;
}

.hidden-xs {
    @include mq(micro){
        display: none !important;
    }
}

.hidden-sm {
    @include mq(small){
        display: none;
    }
    @include mq(medium){
        display: block;
    }
}

.visible-xs{
    display: none !important;
    @include mq(micro){
        display: block !important;
    }
}

.hidden-checkbox{
    display: none;
    @include mq(micro){
            & + .btn--primary .icon-menu {
                transition: $trns-duration;
            }
        &:checked{
            ~ .main-nav{
                transform: translateX(0);
                display: block !important;
            }
            // ~ .dropdown-nav {
            //     transform: translateX(0);
            //     display: block !important;
            // }
            & + .btn--primary .icon-menu {
                background-image: none;
                background-color: $security-magenta;
                -webkit-mask-image: url('#{$path-img-icon--rel}/cross.svg');
                mask-image: url('#{$path-img-icon--rel}/cross.svg');
                mask-size: contain;
            }
        }
    }
    @include mq(small){
        & + .btn--primary .icon-menu {
                transition: $trns-duration;
            }
        &:checked{
            ~ #container{
                grid-template-columns: 1fr #{300px};
            }
            // ~ .dropdown-nav{
            //     transform: translateX(0);
            //     display: block !important;
            // }
            & + .btn--primary .icon-menu {
                background-image: none;
                background-color: $security-magenta;
                -webkit-mask-image: url('#{$path-img-icon--rel}/cross.svg');
                mask-image: url('#{$path-img-icon--rel}/cross.svg');
                mask-size: contain;
            }
        }
    }
}