// ==========================================================================
// Grid Columns
// ==========================================================================


.menu {
    display: flex;
    flex-wrap: wrap;
    
    @include mq(small){
        flex-wrap: nowrap;
    }

}

// .row{
//     display: grid;
    

//     @include mq(small){
//         flex: 50%;
//         @include g-columns;
//     }
//     @include mq(medium){
//         flex: 25%;
        
//     }
//     @include mq(large){
//         margin-bottom: 40px;
       
//     }

// }

.row__col{
  @include mq(medium) {
      @include g-columns; 
    }
    

}

[class^="row__col--"] {
  
  @include mq(small)  {
    margin-top: em(12px);
    margin-bottom: em(12px);
  }
  @include mq(medium) {
    @include doubly(percentage($g-gutter-width / $context));    
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &:last-of-type {
      float: right;
    }
  }
}
