// ==========================================================================
// Grid Container
// ==========================================================================


// .row {
//   display: flex;
//   flex-wrap: wrap;

//   @extend %clearfix;
//   @extend .centered;
//   width: 90%;
 
//   [class*="row__col--"] > & {
//     flex: 1rem;
//     width: 100%; 
//   }

//   @include mq(large) {
//     flex-wrap: nowrap;
//   }
// }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  @extend %clearfix;
  @extend .centered;
  width: 90%;
  

 
  [class*="row__col--"] > & {
    flex: 1rem;
    width: 100%; 
  }

  @include mq(large) {
    flex-wrap: nowrap;
  }
}