// ==========================================================================
// Base
// ==========================================================================

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $grey;
}

h1, .h1 {
    font-weight: $font-weight--medium;
    color: $black;
}

a {
    text-decoration: none;
    font-weight: $font-weight--medium;
    color: $meteorite-blue;
}


footer {
    @extend .centered;
    background-color: $colour-primary;
    color: $white;
    padding: em(30px) 0 0;
    position: relative;
}


