* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $grey;
}

footer {
    @extend .centered;
    background-color: $colour-primary;
    color: $white;
    padding: em(30px) 0 0;
    position: relative;
}


