// ==========================================================================
// Banner
// ==========================================================================


#banner{
    background-color: $colour-primary;
    width: fit-content;
    .item{
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .text{
        background-color: rgba(0, 0, 0, 0.5);
        p{
            color: $white;
        }
    }
    
    h1{
        font-size: em($font-size--prim, 24px);
    }
    .btn{
        margin: 0 auto;
    }
    @include mq(small){
        h1{
            font-size: $font-size--prim;
        }
        p, .btn{
            font-size: em(20px, $base__font-size);
        }
        .btn{
            font-weight: $font-weight--bold;
            margin: 0;
        }
    }
    @include mq(medium){
        .content .row{
            justify-content: flex-start;
        }
        .text{
            text-align: left;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}
