// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	display: inline-flex;
    text-transform: uppercase;
    line-height: 50px; 
    margin: 0; 
    font-size: $font-size--thrd;
    font-weight: $font-weight--medium;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: $br--default;
    @include bg-colours($ui-colors);
    text-decoration: none;
    padding: em(5px) em(15px);
    gap: em(10px);
    a, p, &{
        color: $white;
    }

    &--about{
        padding: em(10px) em(30px);
    }

    &--banner{
        padding: em(5px) em(20px);
    }
}