.btn {
	display: inline-block;
    margin-bottom: 0;
    font-weight: $font-weight--medium;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    @include bg-colors($ui-colors);
    text-decoration: none;

    &[class^="btn--"] {
        @extend %center-align;
        @extend %btn;
        margin-bottom: em(20px, 14px); 
        @include mq(small) {
            width: 100%;
        }
        @include mq(medium) { 
            width: auto;
            display: inline-block;
            @include doubly(20px);
        }
    }

}

