// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	display: inline-flex;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: $font-weight--medium;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: $br--default;
    @include bg-colours($ui-colors);
    text-decoration: none;
    padding: em(5px) em(15px);
    a, p, &{
        color: $white;
    }
}

