
// ==========================================================================
// Containers
// ==========================================================================

// Image overlay 
.item {
  position: relative;
  width: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    gap: $g-gutter-width;
}


//primary container
.container{
    display: flex;
    flex-direction: column; 
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
    // margin: 0px auto;
    // padding: 0px 15px;
    align-items: center;
    
    @include mq(micro){
        min-width: $brkpoint-mob;
    }
    @include mq(small){
        width: $brkpoint-sm - 10px;
    }

     @include mq(medium){
        width: $brkpoint-md - 10px;
    }

     @include mq(large){
        width: $brkpoint-lg - 10px;
    }

}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }

.section{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

// Image container
.img-container {
    width: 100%;
    height: 100%;
}

// Icon container
[class^="icon-container"]{
    @include bg-colours($ui-colors);
    margin: 0 auto 17px;
    padding: 10px;
    border-radius: $br--round;
    color: $white;
}

//Button container
.btn-container{
    margin-top: auto;
    &-duo{
        display: flex;
        flex-direction: column;
        gap: $g-gutter-width;
        @include mq(medium){
            flex-direction: row;
        }
        .btn{
            width: fit-content;
        }
    }
}