// ==========================================================================
// Footer
// ==========================================================================


.footer-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: $g-gutter-width;
    
    @include mq(medium){
        flex-wrap: nowrap;
        gap: $g-gutter-width;
        padding-left: 0%;
    }

}

.footer-row{
    
    flex: 100%;
    margin-bottom: em(30px);

    ul{
        padding-left: 0px;
        li{
            list-style-type: none;
        }
    }

    h3, h4, a {
        color: $white;
    }

    h3, h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: em(26px);
        margin-top: 0;
        padding-top: em(10px);
    }

    @include mq(small){
        flex: auto;   
    }

    @include mq(large){
        margin-bottom: 40px;
    }
}

.footer-bottom{
    background-color: $colour-secondary;
    color: $white;
}
