// ==========================================================================
// Footer
// ==========================================================================


.footer-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: $g-gutter-width;
    padding-bottom: $g-gutter-width;
    row-gap: em(30px);
    
    @include mq(medium){
        flex-wrap: wrap;
        gap: $g-gutter-width;
    }

    @include mq(large){
        flex-wrap: nowrap;
    }
}

.footer-row {
    flex: 1 1 100%;

    ul {
        padding-left: 0;
        margin: 0;
        li {
            list-style-type: none;
        }
    }

    h3, h4, a {
        color: $white;
    }

    h3, h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: em(26px);
        margin-top: 0;
        padding-top: em(10px);
    }

    li a {
        font-size: $font-size--small;
        &:hover {
            text-decoration: underline;
        }
    }

    @include mq(small){
        &:first-child {
            flex: 1 1 100%;
        }
        &:not(:first-child) {
            flex: 1 1 45%;
        }
    }

    @include mq(medium) {
        &:first-child {
            flex: 1 1 100%;
        }
        &:not(:first-child) {
            flex: 1 1 calc(25% - #{$g-gutter-width});
        }
    }
    
    @include mq(large) {
        &:first-child,
        &:not(:first-child) {
            flex: 1 1 0%;
            max-width: calc(20% - #{$g-gutter-width * 4 / 5}); // Accounts for your gap spacing
        }
        margin-bottom: 40px;
    }
}

.footer-logo-container {
    max-width: $logo-size__footer--width;
}

.footer-social-logos {
    display: flex;
    flex-wrap: wrap;
    gap: em(10px);   
    max-width: em(90px);   

    a {
        flex: 0 0 calc(50% - em(5px)); 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
    }

    @include mq(small) {
        max-width: none;   
        flex-wrap: nowrap; 
        
        a {
            flex: 0 0 auto; 
        }
    }
}

.footer-bottom {
    background-color: $colour-secondary;
    color: $white;
}
