// ==========================================================================
// Header Bar
// ==========================================================================

#header{
    background-color: $white;
    header .container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        gap: $g-gutter-width;
        padding-left: $g-gutter-width;
      
        a, label {
            display: flex;
            flex: 1;
            text-align: center;
            align-items: center;   
            justify-content: center;
            &.site-logo {
                flex: 0 1 auto;
                max-width: 100%;
                margin-right: $g-gutter-width;
            }
            span{
                flex-direction: row;
            }
        }
        .btn-group{
            display: flex;
            flex: 0 1 auto;
            gap: $g-gutter-width;
            a.btn{
                padding: 5px;
                flex: 1;
            }
        }
        label.btn{
            flex: 0 0 100%;
            max-width: $icon-size__standard;
        }
        form.search_form, label{
            order: 2;
        }

        @include mq(small){
            
            label.btn{
                flex: 1 1 auto;
                width: max-content;
                order: 3;
            }
        }

        @include mq(medium){
            flex-wrap: nowrap;
            .btn-group{
                margin-left: auto;
            }
        }

        @include mq(large){
            width: 130vh;
        }
    }
   
}

.search_form {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    

    #search_input {
        min-width: 0; 
    }

    #search-submit {
        background-color: $dev-blue;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include mq(small){
        // margin-left: auto;
        order: 3;
    }
}
