// ==========================================================================
// Icons
// ==========================================================================

.icon-arrow-right{
    padding-left: 10px;
    float: none !important; 
}

.icon-search{
    font-size: 22px;
    margin: 5px;
}

.icon-menu {
    font-size: 32px;
    color: $white;
}

.icon-star-full{
    font-size: em(48px);
    color: $star-yellow;
}

.icon-double_arrow{
    font-size: em($font-size--small);
    margin-right: 10px;
}