// ==========================================================================
// Navigation Header Bar
// ==========================================================================


#header{
    background-color: $white;
    .header .container {
        align-items: center;
        justify-content: space-between;
    }
}