// ==========================================================================
// Navigation Container
// ==========================================================================

.main-nav{
    display: block;
    background-color: $colour-primary;
    padding: $g-gutter-width 0;
    width: auto;
}

.nav {
    display: flex;
    gap: $g-gutter-width;
    .theme{
        @include bg-colors($ui-colors);
    }
    li {
        flex: 1rem;
        height: 100%;
        list-style-type: none;
        align-items: center;   
        text-align: center; 
        a{
            text-decoration: none;
            p, strong{        
                color: $white;
                display: block;
                margin: 0;
                
            }
        }
        &:hover{
            div.sub-menu-banner{
                display: block !important;
                background-color: red;
            }
        }
    }
}