// ==========================================================================
// Navigation Container
// ==========================================================================

.main-nav{
    background-color: $colour-primary;
    @include dropdown-layout();
    @include mq(small){
        @include dropdown-layout-undo();
    }
}

.nav {
    display: flex;
    margin-top: 0px;
    .theme{
        background-color: $colour-primary;
    }
    li {
        flex: 1rem;
        height: 100%;
        list-style-type: none;
        align-items: center;   
        text-align: center; 
        transition-duration: $trns-duration;
        a{
            text-decoration: none;
            background-color: transparent;
            margin-bottom: 10px; 
            &, p, strong{        
                color: $white;
                display: block;
                margin: 0;
            }
        }

        .sub-menu-banner{
            color: $white;
            background-color: $colour-primary;
            
            
            .sub-menu{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                margin-top: -15px;
                list-style: none;
                text-align: left;
                padding: 0;
                .sub-menu-banner-title{
                    font-size: $font-size--secn;
                    font-weight: $font-weight--bold;
                    text-align: left;
                    flex-basis: 100%;
                    margin-bottom: 10px;
                    margin-top: 15px;
                    
                    @include mq(small){
                        height: max-content;
                    }
                    
                }
                .nav-item{
                    margin-top: 15px;

                    &--sub-menu{
                        flex: 0 0 32%;
                        font-size: $font-size--thrd;
                        text-align: left;
                    }

                    a{
                        display: flex;
                        margin-bottom: 10px; 
                    }

                    .link-icon{
                        display: inline-block;
                        margin-top: 0px;
                        margin-left: 10px;
                    }

                    .link-text{
                        margin-left: 10px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        

        @include mq(small){
            &.theme{
                @include bg-colour-hover($ui-colors);
            }

            &:hover{
                transition-duration: $trns-duration;
                span.icon{
                    display: none;
                    &.hidden-all{
                        display: inline-block !important;
                    }
                }
                
                .sub-menu-banner{
                    display: block !important;
                }
            }

            .sub-menu-banner {
                &.theme{
                    @include bg-colours($ui-colors);
                    @include border-colour-darken($ui-colors, 10px);
                }
                position: absolute;
                left: 0;
                right: 0;
                width: 100vw;

                left: 50%;
                transform: translateX(-50%); 
                z-index: 9999;

                .sub-menu {
                    flex-direction: row;
                    margin: 0 auto;
                }
            }    
        }
    }
}