// ==========================================================================
// Navigation Header Bar
// ==========================================================================

#header{
    background-color: $white;


    header .container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: $g-gutter-width;

        @include mq(small){
            flex-wrap: nowrap;
        }

        @include mq(large){
                width: 130vh;
            }
        
        a, label {
            display: flex;
            flex: 1;
            text-align: center;
            align-items: flex-start;
            align-items: center;   
            justify-content: center;
            &.site-logo {
                flex: 30vh;
                min-width: 50%;
                @include mq(small){
                    flex: auto;
                    min-width: 0;
                }
            }
            span{
                flex-direction: row;
            }
        }
        form.search_form, label{
            order: 2;
        }
    }
   
}

.search_form {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    #search_input {
        // flex: 1;     
        min-width: 0; 
    }

    #search-submit {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
