// ==========================================================================
// Navigation Bar
// ==========================================================================

.main-nav{
    display: block;
    background-color: $white;
    padding: $g-gutter-width 0;
    width: auto;
}
