// ==========================================================================
// Latest News
// ==========================================================================

.latest-articles{
    padding-top: 60px;
    .headings-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .h1{
            margin-right: auto;
        }
    }
    .h2{
        display: inline-flex;
    }
    h2, h3, h3 a{
        color: $colour-font;
    }
    .btn{
        color: $white;
    }
    .img-content-container {
        position: relative;
        max-width: $img-size__standard--max-width-mobile;
        width: 100%;
        .category {
            position: absolute;
            top: em(5px);    
            right: 1rem;   
            z-index: 2;   
            pointer-events: auto;
            padding: 2px 5px;
            &:hover{
                text-decoration: underline;
            }
            a{
                font-size: $font-size--small;

            } 
        }

        .img-container {
            display: block;
            width: 100%;
            height: auto;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // overflow: hidden; 
            // // max-width: $img-size__standard--max-width-desktop;
            // // width: $img-size__standard--max-width-mobile;
            // aspect-ratio: 16 / 9;
            // @include mq(small){
            //     // width: $img-size__standard--max-width-desktop;
            // }
        }
    }

    [class^="row__col-"]{
        top: 0; 
        transition: $trns-duration ease;
        align-self: flex-start;
        @extend .centered;
        background-color: $white;
        // border: 2px $black inset;
        box-shadow: 0px 0px 5px 2px $colour-shadow;
        border-radius: $br--default;
        padding-top: 10px;
        &:hover {
            top: -10px; 
            transition: $trns-duration ease;
        }
        &:not(:first-child) {
            padding-left: $g-gutter-width;
        }

        .item{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%; 
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-top: 1px $black solid;
            padding-bottom: 1.5rem;
            margin-top: 1rem;
        }
    }
}