// ==========================================================================
// Latest News
// ==========================================================================

.latest-articles{
    padding-top: 60px;
    .headings-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .h1{
            
            margin-right: auto;
        }
    }

    h2, h3, a{
                text-decoration: none;
                color: $white;
            }

    .img-content-container {
        position: relative;
        .category {
            position: absolute;
            top: em(5px);    
            right: 1rem;   
            z-index: 2;   
            pointer-events: auto; 
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; 
            max-width: $img-size__standard--max-width-desktop;
            aspect-ratio: 16 / 9;
        }
    }

    [class^="row__col-"]{
        align-self: flex-start;
        @extend .centered;
        background-color: $colour-secondary;
        border: 2px $white solid;
        border-radius: $br--default;
        &:not(:first-child) {
            padding-left: $g-gutter-width;
        }
        
        .item{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%; 
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .user{
            display: flex;
            flex-direction: column;
            width: 100%;
            border-top: 3px $black solid;
            padding-bottom: 1.5rem;
            margin-top: 1rem;
        }
    }
}