// ==========================================================================
// Latest News
// ==========================================================================

.latest-articles{
    padding-top: 60px;
    .headings-container a:hover{
        text-decoration: underline;
    }
    h2, a{
        color: $colour-font;
    }
    .btn{
        color: $white;
    }
    .img-content-container {
        position: relative;
        max-width: $img-size__standard--max-width-mobile;
        margin-bottom: auto;
        .category {
            position: absolute;
            top: em(5px);    
            right: 0;   
            z-index: 3;   
            pointer-events: auto;
            padding: 2px 5px;
            color: $white;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            a{
                font-size: $font-size--small;
            } 
        }

        .img-container {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .row{
        padding: 0;
        gap: $g-gutter-width;
    }

    .article{
        width: 100%;
        align-self: baseline;
        display: flex;
        flex: 0 0 100%;
        margin-bottom: $g-gutter-width;
        z-index: 1; 

        .icon-arrow-right{
            padding: 0;
        }
        &:not(:first-child):not(:last-child){
            position: relative;
            top: 0; 
            transition: top $trns-duration ease;
            @extend .centered;
            background-color: $white;
            box-shadow: 0px 0px 5px 2px $colour-shadow;
            border-radius: $br--default;
            padding: 0;

            &:hover {
                top: -10px; 
                transition: $trns-duration ease;
                cursor: pointer;
            }
            .item{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 100%; 
                .article-link{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            .block{
                padding: em(30px);
            }
            .user{
                display: flex;
                justify-content: left;
                align-items: center;
                width: 100%;
                border-top: 1px $black solid;
                padding-top: em(30px);
                margin-top: em(30px);
                .details{
                    padding-left: em(20px);
                }
            }
        }
        &:last-child:hover{
            text-decoration: underline;
        }

        @include mq(small) {
            &:first-child {
                flex: 0 0 100%; // Full width row
            }

            &:last-child {
                flex: 0 0 100%; // Full width row
            }

            &:not(:first-child):not(:last-child) {
                flex: 1 1 0px; 
                align-self: stretch;
                display: grid; 
            }
            
            &:nth-child(n+4) {
                display: none !important;
            }
        } 
        @include mq(large) {
           
            &:nth-child(n+4) {
                display: grid !important; 
            }

            &:last-child {
                display: none !important;
            }
        }
        
    }
}