// ==========================================================================
// Services
// ==========================================================================

// Our Services
 .our-services {
    padding: 60px 0;
    [class^="row__col-"]{
        top: 0; 
        transition: $trns-duration ease;
        width: 100%;
        flex: 0 0 100%;
        margin-top: 10px;
        &:first-child{
            max-width: 90%;
        }
        &:not(:first-child) {
            box-shadow: 0px 0px 5px 2px $colour-shadow;
            &:hover {
                top: -10px; 
                transition: $trns-duration ease;
            }
        }
        .theme{
            @include bg-white-to-colour($ui-colors);
            transition: $trns-duration;
        }
        h2, h3, a, a span{
            text-decoration: none;
            color: currentColor;
        }
        .h2{
            display: inline-flex;
        }
        .btn{
            color: $white;
            margin: $g-gutter-width 0;
            
        } 
        @include mq(medium){
            flex: 0 1 auto;
        }  
    }
    
    // Block 
    .block {
        display: flex;
        flex-direction: column; 
        align-items: center;   
        text-align: center;
        height: 100%; 
        transition-duration: $trns-duration;
        padding: em(30px); 
        box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
        .icon-container{
            @include bg-colours($ui-colors);
        }
        .icon {
            display: block;
            // margin-bottom: 15px;
            font-size: em(32px);
            
        }  
        &:hover{
            transition-duration: $trns-duration;
            .btn{
                background-color: $white;
                @include text-colours-by-theme($ui-colors);
            }
            span{
                color: $white;
            }
            .icon-container{
                background-color: $white;
            }
            .icon {
                @include icon-colours-by-theme($icon-themes);
            }    
        }
    }
 }