// ==========================================================================
// full Container
// ==========================================================================

#container {
    transition: transform 0.3s ease-in-out; // Smooth shifting animation
    width: 100%;
    position: relative;
    z-index: 2; 
    background-color: $white; // Prevents transparency issues
    overflow: hidden;
    left: 0;
}